
@media (min-width: 700px) {
    

    .main-layout {
        grid-template-columns: 1fr 2fr;
        grid-template-rows: .5fr 4fr 1fr;
        gap: 10px;
    }
    
    .main-logo {
        grid-column: 1;
        align-self: center;
        margin: 0;
    }
    

    /* VIDEO RESULTS LAYOUT */
    
    .video-results {
        grid-row: 2/-1;
        grid-column: 1;
    }
    
    .video-card {
        display: grid;
        grid-template-columns: 100px auto;
    }
    
    .card-info {
        padding-inline-start: 10px;
    }
    
    
    
    /* MAIN-VIDEO */
    
    .main-video {
        grid-column: 2;
        grid-row: 2;
        
        display: flex;
        justify-content: center; 
        align-items: center;
    }

    iframe {
        height: 100%;
        border: none;
    }

    .wiki-results {
        grid-column: 2;
        grid-row: 3;
    
        gap: 10px;
    }
}